body{

padding-top:70px;
width:100%;
height:100$;
font-family: helvetica, arial, sans-serif;
}

a{
  color:#00B7FF;
}

.submit-btn{
  background-color:#b1dbff;
  margin:10px 0 10px 0;
}

.post{
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.odd{
  background-color:#f2f9ff;
}

.even{
  background-color: #eceff3;
}

.form-auth{
  max-width: 330px;
  padding: 5px;
  margin:0 auto;
}

small.pull-right.ng-binding {
  margin-top:-10px;
  color: #BBB;
  font-size:80%;
}

#post-stream{
  margin-top:2em;
}
